<%
    const en = page.path.indexOf('en') == -1;
%>
<header class="pt-2 pb-2">
    <div class="container grid-lg navbar pt-2 pb-2">
        <section class="navbar-section">
            <a class="off-canvas-toggle btn btn-link btn-action" href="#sidebar"><i class="icon icon-menu"></i></a>
            <a class="navbar-icon" href="https://hand-mabu.github.io/hexo-mabu-doc/">
                <img src="<%- url_for(theme.header.icon) %>">
            </a>
            <a href="https://hand-mabu.github.io/hexo-mabu-doc/" class="btn btn-link">
                <%- theme.header.title %></a>
        </section>
        <section class="navbar-section">
            <% if (en === true) { %>
            <a href="<%- url_for(page.path).replace('docs', 'docs/en').replace('index.html', '') %>" class="btn btn-link navbar-link">English</a>
            <% } else if (en === false) { %>
            <a href="<%- url_for(page.path).replace('docs/en', 'docs').replace('index.html', '') %>" class="btn btn-link navbar-link">简体中文</a>
            <% } %>
        </section>
    </div>
</header>