<head>
    <meta charset="utf-8">
    <title><%- page.title %> | <%- theme.title || config.title %></title>
    <meta http-equiv="x-dns-prefetch-control" content="on">
    <link rel="dns-prefetch" href="//cdn.jsdelivr.net">
    <meta name="description" content="Modern, powerful and simple theme for Hexo.">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" href="https://cdn.jsdelivr.net/gh/sukkaw/hexo-theme-suka@0.1.0/source/img/suka-favicon.ico">
    <link rel="icon" href="https://cdn.jsdelivr.net/gh/sukkaw/hexo-theme-suka@0.1.0/source/img/suka-favicon.ico">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/spectre.css@0.5.3/dist/spectre.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/spectre.css@0.5.3/dist/spectre-exp.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/spectre.css@0.5.3/dist/spectre-icons.min.css">
    <link rel="stylesheet" href="<%- url_for('style.min.css') %>">
    <link rel="stylesheet" href="<%- url_for('markdown.min.css') %>">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/sukkaw/hexo-theme-suka@0.1.0/source/lib/prism/prism-ghcolors.min.css">
    <meta property="og:type" content="article">
    <meta property="og:url" content="https://hand-mabu.github.io/hexo-mabu-doc/">
    <meta property="og:title" content="介绍 | MabuDoc Theme">
    <meta property="og:description" content="Modern Simlpe Powerful Theme for hexo">
    <meta property="og:image" content="<% url_for(theme.header_icon_url || 'assets/img/hexo-theme-suka.png') %>">
</head>